/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
  color: rgb(219, 123, 87);
  text-decoration: none;
}

img {
  padding: 5px;
  filter: drop-shadow(5px 5px 4px  #505050);
  clear: both;
  display: table;
  text-align: center;
  height: auto;
  border-radius: 1rem;
}

#MenuHeader {
  padding-left: 0.5rem;
  width: auto;
}

#Logo {
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
  filter: none;
}